{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-xl">
  <div class="flex items-center flex-col px-4">
    <h1
      class="focus:outline-none text-4xl lg:text-4xl font-extrabold text-center leading-10 text-gray-800 dark:text-white  md:w-9/12 pt-4">
      About AING (AI Novel Generator)</h1>
  </div>
  <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white mt-20">Introduction</h2>
  <ul class="space-y-1 text-gray-500 list-none list-inside dark:text-gray-300">
    <li class="indent-8">
      Welcome to AING, the groundbreaking Software-as-a-Service (SaaS) platform designed to revolutionize the creative
      writing process by harnessing the power of artificial intelligence. Our mission is to empower writers, authors,
      and content creators by providing a user-friendly platform that generates unique, high-quality novels with ease
      and efficiency.
    </li>
  </ul>
  <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white mt-6">Why AING?</h2>
  <ul class="space-y-1 text-gray-500 list-none list-inside dark:text-gray-300">
    <li class="indent-8">
      Writing a novel can be a daunting and time-consuming task. At AING, we understand the challenges writers face, and
      we're here to help. By utilizing advanced AI algorithms, AING streamlines the writing process, enabling users to
      focus on the creativity and passion that drive their stories.
    </li>
  </ul>
  <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white mt-6">Key Features</h2>
  <ul class="space-y-1 text-gray-500 list-none list-inside dark:text-gray-300">
    <li class="indent-8">
      Write books with a few clicks: Generate novel-length manuscripts with the click of a button, based on your input
      and preferences.
      Diverse range of genres and styles: Create stories in multiple genres and styles, allowing for endless creative
      possibilities.
      Customizable plot, character, and setting options: Tailor your novel to your specific vision by customizing
      crucial story elements.
      AI-powered novel generation: Utilize the OpenAI GPT-3 API to create engaging, high-quality content.
      Access to exclusive AI Agents: Improve your writing skills with AING's advanced algorithm and a suite of AI agents
      designed to polish and perfect your manuscript.
    </li>
  </ul>
  <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white mt-6">Our Team</h2>
  <ul class="space-y-1 text-gray-500 list-none list-inside dark:text-gray-300">
    <li class="indent-8">
      The AING team consists of dedicated professionals with expertise in artificial intelligence, software development,
      creative writing, and publishing. Our collective passion for storytelling and cutting-edge technology drives us to
      create a platform that supports and empowers writers to bring their visions to life.
    </li>
  </ul>
  <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white mt-6">Continuous Improvement</h2>
  <ul class="space-y-1 text-gray-500 list-none list-inside dark:text-gray-300">
    <li class="indent-8">
      At AING, we are committed to continually refining and enhancing our platform based on user feedback, advancements
      in AI technology, and the evolving needs of our user community. Our development team works tirelessly to ensure
      that AING remains at the forefront of innovation, providing users with a state-of-the-art tool for crafting
      captivating stories.
    </li>
  </ul>
  <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white mt-6">Join the AING Community</h2>
  <ul class="space-y-1 text-gray-500 list-none list-inside dark:text-gray-300">
    <li class="indent-8">
      Discover the power of AI-driven storytelling with AING and join a community of writers and creators who share your
      passion for the written word. Explore new horizons in creative writing and unlock your full potential with the
      help of AING's advanced AI technology. Embark on your creative journey with AING today!
    </li>
  </ul>
</div>
{% endblock %}
