{% extends "base.html" %}
{% block title %}Features{% endblock %}
{% block content %}

<div class="py-8 px-4 mx-auto max-w-screen-2xl lg:py-16 lg:px-6">
  <div role="contentinfo" class="flex items-center flex-col px-4">
    <h1 class="focus:outline-none text-4xl lg:text-4xl font-extrabold text-center leading-10 text-gray-800 dark:text-white  md:w-9/12 pt-4">Discover AING's Powerful Features for Creating Unique Stories</h1>
  </div>
  <div class="focus:outline-none mt-20 flex flex-wrap justify-center gap-10 px-4">
    <div class="focus:outline-none flex sm:w-full md:w-5/12 pb-20">
      <div class="w-20 h-20 relative mr-5">
        <div class="absolute top-0 right-0 bg-indigo-100 rounded w-16 h-16 mt-2 mr-1"></div>
        <div class="absolute text-white bottom-0 left-0 bg-green-500 rounded w-16 h-16 flex items-center justify-center mt-2 mr-3">
          <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/icon_and_text-SVG2.svg" alt="drawer">
        </div>
      </div>
      <div class="w-10/12">
        <h2 class="focus:outline-none text-lg font-bold leading-tight text-gray-800 dark:text-white">Gap Agents</h2>
        <p class="focus:outline-none text-base text-gray-600 dark:text-gray-200 leading-normal pt-2">The Gap Agent helps to smooth out the transitions between different parts of the story. By identifying areas where the flow is interrupted, the agent works to improve the connection between these sections, ensuring a more cohesive narrative.</p>
      </div>
    </div>
    <div class="focus:outline-none flex sm:w-full md:w-5/12 pb-20">
      <div class="w-20 h-20 relative mr-5">
        <div class="absolute top-0 right-0 bg-indigo-100 rounded w-16 h-16 mt-2 mr-1"></div>
        <div class="absolute text-white bottom-0 left-0 bg-green-500 rounded w-16 h-16 flex items-center justify-center mt-2 mr-3">
          <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/icon_and_text-SVG2.svg" alt="check">
        </div>
      </div>
      <div class="w-10/12">
        <h2 class="focus:outline-none text-lg font-semibold leading-tight text-gray-800 dark:text-white">Refinement Agents</h2>
        <p class="focus:outline-none text-base text-gray-600 dark:text-gray-200 leading-normal pt-2">The Refinement Agent is responsible for refining the text, focusing on consistency, coherence, and overall readability. By examining the generated text, the agent identifies areas for improvement and refines them accordingly.</p>
      </div>
    </div>
    <div class="focus:outline-none flex sm:w-full md:w-5/12 pb-20">
      <div class="w-20 h-20 relative mr-5">
        <div class="absolute top-0 right-0 bg-indigo-100 rounded w-16 h-16 mt-2 mr-1"></div>
        <div class="absolute text-white bottom-0 left-0 bg-green-500 rounded w-16 h-16 flex items-center justify-center mt-2 mr-3">
          <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/icon_and_text-SVG2.svg" alt="html tag">
        </div>
      </div>
      <div class="w-10/12">
        <h2 class="focus:outline-none text-lg font-semibold leading-tight text-gray-800 dark:text-white">Editing Agents</h2>
        <p class="focus:outline-none text-base text-gray-600 dark:text-gray-200 leading-normal pt-2">The Editing Agent is responsible for checking and correcting grammar, punctuation, and overall readability. By analyzing the text, the agent identifies any errors and makes necessary adjustments to ensure a polished final product.</p>
      </div>
    </div>
    <div  class="focus:outline-none flex sm:w-full md:w-5/12 pb-20">
      <div class="w-20 h-20 relative mr-5">
        <div class="absolute top-0 right-0 bg-indigo-100 rounded w-16 h-16 mt-2 mr-1"></div>
        <div class="absolute text-white bottom-0 left-0 bg-green-500 rounded w-16 h-16 flex items-center justify-center mt-2 mr-3">
          <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/icon_and_text-SVG2.svg" alt="monitor">
        </div>
      </div>
      <div class="w-10/12">
        <h2 class="focus:outline-none text-lg font-semibold leading-tight text-gray-800 dark:text-white">Tone and Setting Agents</h2>
        <p class="focus:outline-none text-base text-gray-600 dark:text-gray-200 leading-normal pt-2">The Tone and Setting Agents play dual roles in crafting compelling narratives, maintaining a consistent tone and mood while constructing detailed and immersive settings for your story. The agents ensure that the tone stays true to your intentions and creates vivid descriptions, unique cultures, and a sense of time and place. This helps readers feel fully immersed in the story world.</p>
      </div>
    </div>
    <div  class="focus:outline-none flex sm:w-full md:w-5/12 pb-20">
      <div class="w-20 h-20 relative mr-5">
        <div class="absolute top-0 right-0 bg-indigo-100 rounded w-16 h-16 mt-2 mr-1"></div>
        <div class="absolute text-white bottom-0 left-0 bg-green-500 rounded w-16 h-16 flex items-center justify-center mt-2 mr-3">
          <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/icon_and_text-SVG2.svg" alt="monitor">
        </div>
      </div>
      <div class="w-10/12">
        <h2 class="focus:outline-none text-lg font-semibold leading-tight text-gray-800 dark:text-white">3-Act Structure (Basic Plan & Premium Plans)</h2>
        <p class="focus:outline-none text-base text-gray-600 dark:text-gray-200 leading-normal pt-2">Another optional feature in AING is the 3-Act Structure, which divides the story into three parts: Setup, Confrontation, and Resolution. By using this structure, the AI helps to create well-structured stories with a clear beginning, middle, and end. These elements, combined with the core functionality of AING, provide users with a powerful tool to generate high-quality, engaging, and unique stories.</p>
      </div>
    </div>
    <div  class="focus:outline-none flex sm:w-full md:w-5/12 pb-20">
      <div class="w-20 h-20 relative mr-5">
        <div class="absolute top-0 right-0 bg-indigo-100 rounded w-16 h-16 mt-2 mr-1"></div>
        <div class="absolute text-white bottom-0 left-0 bg-green-500 rounded w-16 h-16 flex items-center justify-center mt-2 mr-3">
          <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/icon_and_text-SVG2.svg" alt="monitor">
        </div>
      </div>
      <div class="w-10/12">
        <h2 class="focus:outline-none text-lg font-semibold leading-tight text-gray-800 dark:text-white">Set-up and Payoff Agents (Premium Plan Only)</h2>
        <p class="focus:outline-none text-base text-gray-600 dark:text-gray-200 leading-normal pt-2">AING's premium plan now includes a new feature to help users humanize their writing and avoid detection by AI tools. This feature helps to ensure that generated stories feel authentic and natural, and not like they were written by an algorithm.</p>
      </div>
    </div>
    <div  class="focus:outline-none flex sm:w-full md:w-5/12 pb-20">
      <div class="w-20 h-20 relative mr-5">
        <div class="absolute top-0 right-0 bg-indigo-100 rounded w-16 h-16 mt-2 mr-1"></div>
        <div class="absolute text-white bottom-0 left-0 bg-green-500 rounded w-16 h-16 flex items-center justify-center mt-2 mr-3">
          <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/icon_and_text-SVG2.svg" alt="monitor">
        </div>
      </div>
      <div class="w-10/12">
        <h2 class="focus:outline-none text-lg font-semibold leading-tight text-gray-800 dark:text-white">Humanization Agent (Premium Plan Only)</h2>
        <p class="focus:outline-none text-base text-gray-600 dark:text-gray-200 leading-normal pt-2">AING's premium plan now includes a new feature to help users humanize their writing and avoid detection by AI tools. This feature helps to ensure that generated stories feel authentic and natural, and not like they were written by an algorithm.</p>
      </div>
    </div>
    <div  class="focus:outline-none flex sm:w-full md:w-5/12 pb-20">
      <div class="w-20 h-20 relative mr-5">
        <div class="absolute top-0 right-0 bg-indigo-100 rounded w-16 h-16 mt-2 mr-1"></div>
        <div class="absolute text-white bottom-0 left-0 bg-green-500 rounded w-16 h-16 flex items-center justify-center mt-2 mr-3">
          <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/icon_and_text-SVG2.svg" alt="monitor">
        </div>
      </div>
      <div class="w-10/12">
        <h2 class="focus:outline-none text-lg font-semibold leading-tight text-gray-800 dark:text-white">Iceberg Method to Worldbuilding (Premium Plan Only)</h2>
        <p class="focus:outline-none text-base text-gray-600 dark:text-gray-200 leading-normal pt-2">In addition to the Story Circle Framework and 3-Act Structure, AING's premium plan includes a feature for the Iceberg Method to Worldbuilding. This feature allows users to generate a rich and immersive world for their stories by using two main layers: the surface and the depth. The surface layer includes everything that the reader can see and experience directly, such as physical description, dialogue, and action. On the other hand, the depth layer includes everything that is hidden beneath the surface, such as history, culture, politics, and religion.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
