{% extends "base.html" %}
{% block title %}Licensing Agreement{% endblock %}
{% block content %}
<div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-xl">
  <div class="flex items-center flex-col px-4">
    <h1
      class="focus:outline-none text-4xl lg:text-4xl font-extrabold text-center leading-10 text-gray-800 dark:text-white  md:w-9/12 pt-4">
      Licensing Agreement</h1>
  </div>
  <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white mt-20">General</h2>
  <ul class="space-y-1 text-gray-500 list-none list-inside dark:text-gray-300">
    <li class="indent-8">
      This Licensing Agreement (the "Agreement") is entered into as of 28/04/2023, by and between AING (AI Novel
      Generator), a company, located in Australia ("Licensor"), and the person or entity that has agreed to the terms of
      this Agreement ("Licensee").
    </li>
    <li>
      WHEREAS, Licensor has developed a proprietary Software-as-a-Service (SaaS) platform known as AING (AI Novel
      Generator), which uses artificial intelligence to generate unique, high-quality novels and other written content
      (the "Software");
    </li>
    <li>
      WHEREAS, Licensee desires to obtain a license to use the Software, and Licensor is willing to grant such a
      license, subject to the terms and conditions set forth below;
    </li>
    <li>
      NOW, THEREFORE, in consideration of the mutual promises and covenants contained herein, the parties agree as
      follows:
    </li>
  </ul>
  <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white mt-6">(1) Grant of License</h2>
  <ul class="space-y-1 text-gray-500 list-none list-inside dark:text-gray-300">
    <li class="indent-8">
      Subject to the terms and conditions of this Agreement, Licensor hereby grants to Licensee a non-exclusive,
      non-transferable, revocable, limited license to access and use the Software for the sole purpose of creating
      written content in accordance with the applicable documentation and instructions provided by Licensor.
    </li>
  </ul>
  <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white mt-6">(2) Restrictions on Use</h2>
  <ul class="space-y-1 text-gray-500 list-none list-inside dark:text-gray-300">
    <li class="indent-8">
      Licensee shall not, without the prior written consent of Licensor:
      <ol class="pl-5 mt-2 space-y-1 list-decimal list-inside">
        <li type="a">Modify, adapt, translate, reverse engineer, decompile, disassemble, or otherwise attempt to derive
          the source code of the Software.
        </li>
        <li type="a">Create any derivative works based on the Software or any part thereof.
        </li>
        <li type="a">Rent, lease, sublicense, sell, assign, or otherwise transfer the rights granted under this
          Agreement.
        </li type="a">
        <li type="a">Use the Software in any manner that violates any applicable law, regulation, or third-party rights.
        </li>
      </ol>
    </li>
  </ul>
  <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white mt-6">(3) Ownership
  </h2>
  <ul class="space-y-1 text-gray-500 list-none list-inside dark:text-gray-300">
    <li class="indent-8">
      Licensor retains all right, title, and interest in and to the Software, including all intellectual property rights
      therein. Licensee acknowledges that the Software is protected by copyright, trademark, and other intellectual
      property laws and international treaties.
    </li>
  </ul>
  <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white mt-6">(4) Fees and Payment
  </h2>
  <ul class="space-y-1 text-gray-500 list-none list-inside dark:text-gray-300">
    <li class="indent-8">
      In consideration of the license granted herein, Licensee shall pay Licensor the applicable fees as set forth on
      the Licensor's website or as otherwise agreed upon by the parties in writing. All fees are non-refundable.
    </li>
  </ul>
  <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white mt-6">(5) Term and Termination
  </h2>
  <ul class="space-y-1 text-gray-500 list-none list-inside dark:text-gray-300">
    <li class="indent-8">
      This Agreement shall commence on the Effective Date and continue until terminated by either party upon written
      notice to the other party. Upon termination, Licensee shall immediately cease all use of the Software and delete
      all copies thereof. Sections 2, 3, 6, 7, and 8 shall survive termination of this Agreement.
    </li>
  </ul>
  <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white mt-6">(6) Warranty Disclaimer
  </h2>
  <ul class="space-y-1 text-gray-500 list-none list-inside dark:text-gray-300">
    <li class="indent-8">
      The Software is provided "as is" without any warranty of any kind, either express or implied, including but not
      limited to the implied warranties of merchantability, fitness for a particular purpose, and non-infringement.
      Licensor does not warrant that the Software will meet Licensee's requirements or that its operation will be
      uninterrupted or error-free.
    </li>
  </ul>
  <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white mt-6">(7) Limitation of Liability
  </h2>
  <ul class="space-y-1 text-gray-500 list-none list-inside dark:text-gray-300">
    <li class="indent-8">
      In no event shall Licensor be liable for any indirect, incidental, special, consequential, or punitive damages, or
      any loss of profits or revenues, whether incurred directly or indirectly, or any loss of data, use, goodwill, or
      other intangible losses, resulting from (a) Licensee's access to or use of, or inability to access or use, the
      Software; or (b) any conduct or content of any third party on the Software.
    </li>
  </ul>
  <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white mt-6">(8) Indemnification
  </h2>
  <ul class="space-y-1 text-gray-500 list-none list-inside dark:text-gray-300">
    <li class="indent-8">
      Licensee shall indemnify, defend, and hold harmless Licensor, its affiliates, and their respective officers,
      directors, employees, and agents from and against any and all claims, damages, losses, liabilities, costs, and
      expenses (including reasonable attorneys' fees) arising out of or in connection with Licensee's use of the
      Software or any breach of this Agreement by Licensee.
    </li>
  </ul>
  <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white mt-6">(9) Confidentiality
  </h2>
  <ul class="space-y-1 text-gray-500 list-none list-inside dark:text-gray-300">
    <li class="indent-8">
      Each party acknowledges that it may receive confidential information from the other party in connection with this
      Agreement. Confidential information shall include, but not be limited to, the Software, trade secrets, business
      plans, strategies, methods, and customer information. Each party agrees to protect the confidentiality of the
      other party's confidential information in the same manner it protects the confidentiality of its own confidential
      information, but in no event shall either party use less than reasonable care. Neither party shall use the other
      party's confidential information for any purpose other than to perform its obligations under this Agreement.
    </li>
  </ul>
  <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white mt-6">(10) Governing Law and Jurisdiction
  </h2>
  <ul class="space-y-1 text-gray-500 list-none list-inside dark:text-gray-300">
    <li class="indent-8">
      This Agreement shall be governed by and construed in accordance with the laws of Australia, without
      regard to its conflict of laws principles. Any disputes arising out of or in connection with this Agreement shall
      be subject to the exclusive jurisdiction of the courts located in Australia.
    </li>
  </ul>
  <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white mt-6">(11) Entire Agreement
  </h2>
  <ul class="space-y-1 text-gray-500 list-none list-inside dark:text-gray-300">
    <li class="indent-8">
      This Agreement constitutes the entire agreement between the parties concerning the subject matter hereof and
      supersedes all prior or contemporaneous agreements, understandings, negotiations, and discussions, whether oral or
      written, between the parties relating to the subject matter hereof.
    </li>
  </ul>
  <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white mt-6">(12) Amendment
  </h2>
  <ul class="space-y-1 text-gray-500 list-none list-inside dark:text-gray-300">
    <li class="indent-8">
      This Agreement may be amended or modified only by a written instrument executed by AING (AI Novel Generator).
    </li>
  </ul>
  <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white mt-6">(13) Waiver
  </h2>
  <ul class="space-y-1 text-gray-500 list-none list-inside dark:text-gray-300">
    <li class="indent-8">
      No waiver of any term or condition of this Agreement shall be deemed a further or continuing waiver of such term
      or condition or any other term or condition.
    </li>
  </ul>
  <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white mt-6">(14) Severability
  </h2>
  <ul class="space-y-1 text-gray-500 list-none list-inside dark:text-gray-300">
    <li class="indent-8">
      If any provision of this Agreement is held to be invalid, illegal, or unenforceable for any reason, such provision
      shall be limited or eliminated to the minimum extent necessary, and the remaining provisions of this Agreement
      shall continue in full force and effect.
    </li>
  </ul>
  <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white mt-6">(15) Acceptance of Terms
  </h2>
  <ul class="space-y-1 text-gray-500 list-none list-inside dark:text-gray-300">
    <li class="indent-8">
      By accessing and using the Software, you acknowledge that you have read, understood, and agree to be bound by the
      terms and conditions of this Licensing Agreement. If you do not agree to these terms and conditions, you should
      not access or use the Software. Your continued use of the Software constitutes your acceptance of any updates or
      modifications to this Licensing Agreement.
    </li>
  </ul>
  <p class="text-sm text-gray-200 italic mt-6">*If you have any questions or concerns about this Licensing Agreement,
    please <a href="{{url_for('default_views.contact')}}"
      class="underline underline-offset-2 hover:text-indigo-600">contact us</a></p>
</div>
{% endblock %}
