{% extends "base.html" %}
{% block title %}Privacy Policy{% endblock %}
{% block content %}
<div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-xl">
  <div class="flex items-center flex-col px-4">
    <h1 class="text-4xl lg:text-4xl font-extrabold text-center leading-10 text-gray-800 dark:text-white  md:w-9/12 pt-4">Privacy Policy</h1>
  </div>
  <div class="mt-20">
    <h2 class="text-lg font-semibold mb-4 dark:text-gray-100">Last updated: 28/04/2023</h2>

    <p class="mb-4 dark:text-gray-300">AING (AI Novel Generator) ("we", "us", or "our") is committed to protecting your privacy. This Privacy Policy applies to the use of our Software-as-a-Service (SaaS) platform, AING (AI Novel Generator), and any related services or applications (collectively referred to as the "Service").</p>

    <p class="mb-4 dark:text-gray-300">This Privacy Policy informs you about the types of information we collect when you use our Service, how we use and protect that information, and the choices you have regarding the use of your personal data.</p>

    <p class="mb-4 dark:text-gray-300">By using the Service, you agree to the collection and use of information in accordance with this Privacy Policy.</p>
  </div>
  <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white mt-6">Information We Collect
  </h2>
  <ol class="space-y-1 text-gray-500 list-none list-inside dark:text-gray-300">
    We collect information to provide and improve our Service to you. The types of information we collect are as follows:
    <li type="a" class="indent-8">
      Personal Data
      <ul class="pl-5 mt-2 space-y-1 list-disc list-inside">
While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you ("Personal Data"). This may include, but is not limited to:

        <li>Email address
        </li>
        <li>First and last name
        </li>
        <li>Username
        </li>
        <li>Password</li>
        <li>Billing information
        </li>
        <li>Usage data
        </li>
     </ul>
    </li>
    <li type="a" class="indent-8">
      Usage Data
      <ul class="pl-5 mt-2 space-y-1 list-disc list-inside">
        We may collect information about how you access and use the Service ("Usage Data"). This Usage Data may include information such as your computer's Internet Protocol address (e.g., IP address), browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers, and other diagnostic data.
      </ul>
    </li>
  </ol>
  <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white mt-6">How We Use Your Information
  </h2>
  <ul class="space-y-1 text-gray-500 list-none list-inside dark:text-gray-300">
We use the collected information for various purposes, including:
<ul class="pl-5 mt-2 space-y-1 list-disc list-inside">
  <li>To provide and maintain our Service
  </li>
  <li>To notify you about changes to our Service
  </li>
  <li>To allow you to participate in interactive features of our Service when you choose to do so
  </li>
  <li>To provide customer support
  </li>
  <li>To gather analysis or valuable information so that we can improve our Service
  </li>
  <li>To monitor the usage of our Service
  </li>
  <li>To detect, prevent, and address technical issues
  </li>
  <li>To provide you with news, special offers, and general information about other goods, services, and events which we offer that are similar to those that you have already purchased or enquired about unless you have opted not to receive such information
  </li>
    </ul>
  </ul>
<h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white mt-6 ">Data Protection
</h2>
<ul class="space-y-1 text-gray-500 list-none list-inside dark:text-gray-300">
We take your privacy seriously and have implemented appropriate security measures to protect your Personal Data from unauthorized access, disclosure, alteration, or destruction. These measures include:
<ul class="pl-5 mt-2 space-y-1 list-disc list-inside">
  <li>Secure server hosting
  </li>
  <li>Encryption of sensitive data
  </li>
  <li>Regular security audits
  </li>
  <li>Access controls to limit access to your Personal Data to authorized personnel only
  </li>
</ul>
<p class="text-sm text-gray-200 opacity-25 italic">*However, please be aware that no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee the absolute security of your information.</p>

</ul>
<h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white mt-6">Data Retention
</h2>
<ul class="space-y-1 text-gray-500 list-none list-inside dark:text-gray-300">
  <li  class="indent-8">
    We will retain your Personal Data only for as long as is necessary for the purposes set out in this Privacy Policy. We will retain and use your Personal Data to the extent necessary to comply with our legal obligations (for example, if we are required to retain your data to comply with applicable laws), resolve disputes, and enforce our legal agreements and policies.
  </li>
</ul>
<h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white mt-6">Disclosure of Data
</h2>
<ul class="space-y-1 text-gray-500 list-none list-inside dark:text-gray-300">
  We will not sell or share your Personal Data with third parties except in the following circumstances:
  <ul class="pl-5 mt-2 space-y-1 list-disc list-inside">
    <li>To comply with a legal obligation
    </li>
    <li>To protect and defend our rights or property
    </li>
    <li>To prevent or investigate possible wrongdoing in connection with the Service
    </li>
    <li>To protect the personal safety of users of the Service or the public
    </li>
    <li>To protect against legal liability
    </li>
  </ul>
</ul>

<h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white mt-6">Your Rights
</h2>
<ul class="space-y-1 text-gray-500 list-none list-inside dark:text-gray-300">
  <li  class="indent-8">
    You have the right to access, update, or delete your Personal Data at any time. You can do so by contacting us at ainovelgenerator@gmail.com. Please note that we may ask you to verify your identity before responding to such requests.
  </li>
</ul>

<h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white mt-6">Changes to This Privacy Policy
</h2>
<ul class="space-y-1 text-gray-500 list-none list-inside dark:text-gray-300">
  <li  class="indent-8">
    We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page and updating the "Last updated" date at the top of this Privacy Policy.
  </li>
  <li  class="indent-8">
    You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.
  </li>
</ul>

<h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white mt-6">Third-Party Services
</h2>
<ul class="space-y-1 text-gray-500 list-none list-inside dark:text-gray-300">
  <li  class="indent-8">
Our Service may contain links to other websites and services that are not operated by us. If you click on a third-party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.

  </li>
  <li  class="indent-8">
We have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.

  </li>
</ul>

<h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white mt-6">Children's Privacy
</h2>
<ul class="space-y-1 text-gray-500 list-none list-inside dark:text-gray-300">
  <li  class="indent-8">
    Our Service is not intended for use by anyone under the age of 13 ("Children"). We do not knowingly collect personally identifiable information from Children. If you are a parent or guardian and you are aware that your Child has provided us with Personal Data, please contact us. If we become aware that we have collected Personal Data from Children without verification of parental consent, we will take steps to remove that information from our servers.
  </li>
  </ul> 

  <p class="text-sm text-gray-200 italic mt-6">*If you have any questions or concerns about this Licensing Agreement,
    please <a href="{{url_for('default_views.contact')}}"
      class="underline underline-offset-2 hover:text-indigo-600">contact us</a></p>
      <p class="text-sm text-gray-200 italic mt-6">*By using our Service, you acknowledge that you have read and understood this Privacy Policy and agree to be bound by its terms. If you do not agree with this Privacy Policy, please do not use our Service.</p>

</div>
{% endblock %}